@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-tomato: hsl(4, 100%, 67%);

  --neutral-dark-slate-grey: hsl(234, 29%, 20%);
  --neutral-charcoal-grey: hsl(235, 18%, 26%);
  --neutral-grey: hsl(231, 7%, 60%);
  --neutral-white: hsl(0, 0%, 100%);
}

.flex {
  display: flex;
  flex-direction: column;
}
main {
  max-width: 375px;
  margin: 0 auto;
}
.form {
  padding-top: 1.5em;
}
.form input,
.form button {
  width: 90%;
  padding: 1em;
  margin: 0.5em 0;
  border: 1px solid var(--neutral-grey);
  border-radius: 10px;

}

.form__message-sucess {
  display: none;
}

.form button {
  width: 100%;
  color: var(--neutral-white);
  background-color: var(--neutral-dark-slate-grey);
  font-size: 16px;
}

.form-text {
  padding: 0 1.5em;
}

ul {
  margin: 0;
  padding: 0;

}

p,li,label,h1 {
    line-height: 1.2em;
    color : var(--neutral-dark-slate-grey);
}
label{
    font-size: 10px;
    font-weight: 700;
}

.form-text ul li {
  list-style: url("./assets/images/icon-list.svg");
  margin: 0 1.5em;
}
.form-text li::marker {
  display: block;
  text-align: center !important;
}

.attribution {
  text-align: center;
  font-size: 11px;
  color: var(--neutral-grey);
}

@media screen and (max-width: 1440px) and (min-width: 700px) {
    main{
        transform: all 5s;
        background-color: cyan;
    }

}