/* Definindo a fonte WorkSans Regular */
@font-face {
    font-family: 'WorkSans';
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;  
    font-style: normal;
  }
  
  /* Definindo a fonte WorkSans Italic */
  @font-face {
    font-family: 'WorkSans-Italic';
    src: url('../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;  /* A faixa de peso para a fonte variável */
    font-style: italic;
  }

  :root{
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
  }

  body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-pink);
    background-image: url("/assets/images/background-pattern-desktop.svg");
    background-size:contain;
    background-repeat: no-repeat;

  }
  